.footer {
	background-color: #fff;
	padding: 90px 0;
	// font-size: 32px;
	// color: #fff;
	@include mobile {
		padding: 60px 0;
	}

	h1 {
		font-size: 32px;
	}

	a {
		// color: var(--link-color);
		color: #fff;
		text-decoration: underline;
	}

	@media (max-width: 1200px) {
		font-size: 26px;
	}
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	@include mobile {
		gap: 20px;
	}
}

.title.footer__title {
	margin-bottom: 0px;
}
.footer__content {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	text-align: center;
	color: #070707;
}

.footer__nav-list {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	gap: 61px;
	@include mobile {
		margin-top: 30px;
	}
}
.footer__icons {
}

.footer__copyright {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #828282;
}
