.header__nav {
}
.nav {
	font-size: 18px;
}
.nav__list {
	display: flex;
	column-gap: 30px;
	transition: all 0.2s ease-in;

	a {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 14px;
		color: #000;
		&:hover {
			color: #606060;
		}
		&.active {
			color: #606060;
		}
	}
}
.active {
	color: #606060;
}
