.portfolio {
    padding: 90px 0 60px;

    background-color: #f1f1f1;
    .container {
        height: 100%;
    }
    @include mobile {
        padding-top: 60px;
    }
}

.portfolio__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    margin-bottom: 70px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    color: #070707;
    @include mobile {
        margin-bottom: 50px;
    }
}
.portfolio__swiper-wrapper {
}
